# Arquivos de log
*.log

# Diretórios de build
target/
build/

# Arquivos de dependências
*.iml
.idea/
*.ipr
*.iws

# Dependências do Maven
.mvn/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Dependências do Gradle
.gradle/
build/
.gradle
.gradle-cache

# Diretório de bibliotecas do Eclipse
.classpath
.project
.settings/

# Diretórios da IDE
.vscode/
*.swp
*.swo

# Diretórios e arquivos do IntelliJ
/.idea/
/*.iml
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/.name
/.idea/*.iml
/out
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml

# Arquivos temporários do sistema
*.tmp
*.bak
*.swp
.DS_Store

# Diretórios de relatórios
out/
reports/
test-results/
